BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
TabWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: Inline
MaxEmptyLinesToKeep: 3
IndentPPDirectives: AfterHash
NamespaceIndentation: All
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: MultiLine
MacroBlockBegin: "^TIAN_BEGIN_.*|BEGIN_SUBSYSTEM_DEPENDENCIES$"
MacroBlockEnd: "^TIAN_END_.*|END_SUBSYSTEM_DEPENDENCIES$"
AlignTrailingComments: false
FixNamespaceComments: false